/*page1*/
@font-face {
    font-family: 'samsung1';
    src: url(../css/fonts/SamsungOne-400.ttf);
}
@font-face {
    font-family: 'samsung2';
    src: url(../css/fonts/SamsungOne-700.ttf);
}
@font-face {
    font-family: 'samsung3';
    src: url(../css/fonts/SamsungSharpSans-Bold.ttf);
}



body {
    font-family:  'Lora', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 30px;
    background-color: #212121;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'samsung3';
}

.TITLE {
    font-family: 'samsung2';
    padding: 20px;
    position: relative;
}

.TITLE:before,
.TITLE:after {
    content: "";
    position: absolute;
    inset: 0 -40px;
    background:
      linear-gradient(currentColor 0 0) 0 0,
      linear-gradient(currentColor 0 0) 100% 100%;
    background-size: var(--d,0%) 3px;
    background-repeat: no-repeat;
    opacity: 0;
    transition:0s .3s,opacity .3s;
  }

.TITLE::after{
    inset: -40px 0;
    background-position: 100% 0,0 100%;
    background-size: 3px var(--d,0%);
}

.TITLE:hover:before,
.TITLE:hover:after {
    --d: 100%;
    inset: 0;
    opacity: 1;
    transition:.4s,opacity .2s;
}

.nav-button a {
    color: #fff;
    text-decoration: none;
}

.nav-button {
    width: 9em;
    position: relative;
    height: 3.0em;
    border: 3px ridge #ea7414;
    outline: none;
    background-color: transparent;
    color: white;
    transition: transform 0.3s ease-out;
    border-radius: 0.3em;
    font-family: 'samsung2';
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav-button::after,
.nav-button::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
}

.nav-button::before {
    top: 80%;
}

.nav-button:hover::before,
.nav-button:hover::after {
    transform: scale(0);
}

.nav-button:hover {
    box-shadow: inset 0px 0px 25px #ea9414;
    transform: scale(1.1);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4b4b4b;
    padding: 20px;
    background-image: url('../css/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel{
    display: flex;
    gap: 10px;
}

.card {
    width: 450px;
    height: 608px;
    position: relative;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    overflow: hidden;
   }

   .card2 {
    width: 450px;
    height: 608px;
    background-color: #1a1a1a;
    border-radius:10px;
    transition: all .2s;
    position: relative;
    overflow: hidden;
   }

   .card2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.card2:hover img {
    transform: scale(1.58);
}

.card-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    transition: bottom 0.3s ease;
    font-family: 'samsung1';
}

.card:hover .card-content {
    bottom: 0;
}

.content-inner {
    padding: 20px;
    transition: opacity 0.3s ease;
}

.card:hover .content-inner {
    opacity: 1;
}

.card-content p {
    margin-bottom: 10px;
}

.card-content button {
    background-color: #ea7414;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'samsung3';
}

.card-content button:hover {
    background-color: #ff9600;
}

   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }

   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }